body {
    background-color: #f7f7df;
}
div {
    margin: 12px 5px;
}
#centerContent {
    width: 740px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
}
#auctionPane {
    border: darkgray 1px solid;
    width: 340px;
    display: inline-table;
}
#addPane #placeBidPane {
    border: darkgray 1px solid;
    width: 340px;
    display: inline-table;
}
